<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count of words in Go</title>
</head>
<body>
    <div style="text-align: center; margin-top: 100px;">
        <h1>Count of words</h1>
        <form action="/count" method="post">
            <textarea name="text" rows="5" cols="40" placeholder="Say Something..."></textarea>
            <br><br>
            <button type="submit">Count</button>
        </form>
        <p id="wordCount"></p>
    </div>
</body>
</html>
